{% extends "base.html" %}

{% block title %}Recipe{% endblock title %} 

{% block content %}

<h1 class="text-primary">Recipe: {{name}}</h1>

<ul class="list bg-base-100 rounded-box shadow-md">
    <li class="tracking-wide p-6">Ingredients:</li>

    {% for ingredient in ingredients %}
        <li class="list-row">
            <p class="list-col-grow text-primary">{{ingredient.name}}</p>
            <p class="text-secondary">{{ingredient.quantity}}</p>
            <p class="text-secondary">{{ingredient.metric}}</p>
        </li>
    {% endfor %}
</ul>

<ul class="list bg-base-100 rounded-box shadow-md">
    <li class="tracking-wide p-6">Steps:</li>

    {% for step in steps %}
        <li class="list-row">
            <p class="list-col-grow text-primary">{{step}}</p>
        </li>
    {% endfor %}
</ul>

<p class="text-accent">Yield: {{recipe_yield}}</p>

{% endblock content %}